<ng-template #loadingTpl [ngIf]="firstLoading">
  <div class="loading">
    <ng-template #indicatorTemplate><span nz-icon nzType="loading" style="font-size: 32px;"></span></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
  </div>
</ng-template>

<ng-template #emptyTpl [ngIf]="!firstLoading && articles.length === 0">
  <div class="empty">
    <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="emptyContentTpl">
      <ng-template #emptyContentTpl>
        <span>暂无文章...</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>

<div class="list" *ngIf="articles.length > 0">
  <ng-container *ngFor="let item of articles">
    <div class="card" (click)="clickItem(item.id)">
      <div class="title">{{item.title}}</div>
      <div class="summary" *ngIf="item.summary !== undefined">{{item.summary}}</div>
      <div class="info">
        <span>发布于{{ item.creationTime | date : "yyyy年MM月dd日"}}</span>
      </div>
    </div>
  </ng-container>
  <button *ngIf="hasNext" nz-button nzType="text" nzBlock [nzLoading]="loading" nzSize="large" nzShape="round"
          class="more"
          (click)="loadMore()"
  >加载
  </button>
</div>
