<ng-template #loadingTpl [ngIf]="firstLoading">
  <div class="loading">
    <ng-template #indicatorTemplate><span nz-icon nzType="loading" style="font-size: 32px;"></span></ng-template>
    <nz-spin [nzIndicator]="indicatorTemplate" nzSimple></nz-spin>
  </div>
</ng-template>

<ng-template #emptyTpl [ngIf]="!firstLoading && articles.length === 0">
  <div class="empty">
    <nz-empty [nzNotFoundContent]="emptyContentTpl" nzNotFoundImage="simple">
      <ng-template #emptyContentTpl>
        <span>暂无文章...</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>

<div *ngIf="articles.length > 0" class="list">
  <ng-container *ngFor="let item of articles">
    <div (click)="clickItem(item.id)" class="card">
      <div class="title">{{item.title}}</div>
      <div *ngIf="item.summary !== undefined" class="summary">{{item.summary}}</div>
      <div class="info">
        <span>发布于{{ item.creationTime | date : "yyyy年MM月dd日"}}</span>
      </div>
    </div>
  </ng-container>
  <button (click)="loadMore()"
          *ngIf="hasNext"
          [nzLoading]="loading"
          class="more"
          nz-button
          nzBlock
          nzShape="round"
          nzSize="large"
          nzType="text">
    加载
  </button>
</div>
