.layout {
  min-height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header {
  width: 900px;
  margin: auto;
}

.logo {
  width: 180px;
  height: 65px;
  // background: rgba(255, 25, 25, 0.2);
  padding: 16px 24px 16px 24px;
  float: left;
  line-height: 31px;
  text-align: center;
  font-size: 2em;
  user-select: none;

}

.logo:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}


[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 30px 30px;
  margin-top: 64px;
}

.inner-content {
  margin: auto;
  width: 900px;
  //padding: 20px;
  background: #ffffff;
  min-height: 800px;
}

nz-footer {
  text-align: center;
}
