<hr class="bg-slate-600 h-[4px] mx-8 rounded-lg" >

<div class="flex my-2" >
    <div class="m-auto text-slate-600" >
        <a href="https://beian.miit.gov.cn/" >@ICPCode</a>
    </div>
</div>

@code {
    // ReSharper disable once InconsistentNaming
    private readonly string ICPCode = "闽ICP备2022001214号-1";
}
