<div class="bg-slate-200 flex flex-1" >
    <button class="float-left hover:bg-slate-300 leading-8 px-2 py-4 text-2xl w-[180px]"
            @onclick="Callback"
            type="button" >
        @Logo
    </button>
</div>

@code {

    private void Callback(MouseEventArgs obj)
    {
        Navigation.NavigateTo("/");
    }

    // ReSharper disable once InconsistentNaming
    private string Logo = "Lentinula";
}
