@inherits LayoutComponentBase

<div class="bg-slate-50 flex flex-col w-full" >
    <div class="flex flex-col m-auto w-[900px]"
         style="min-height: 100vh;" >
        @* 不知道为什么 min-h-screen 不起作用，所以特别写一个 style *@
        <div class="fixed h-16 t-0 w-[900px]" >
            <Header></Header>
        </div>
        <div class="bg-white flex flex-1 flex-col justify-between mt-16" >
            <main class="flex-1" >
                @Body
            </main>
            <footer class="flex-none" >
                <Footer></Footer>
            </footer>
        </div>
    </div>
</div>
