# Jetbrains IDEA
**/.idea

# Visual Studio
**/.vs

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# C#
**/obj
**/bin

# log
**/log
**/*.log

**/appsettings.json
