<div class="bg">
  <div class="header">
    <div class="logo-container">
      <span class="logo"> Lentinula</span>
    </div>
    <div class="header-banner">
      <div class="tools"></div>
      <div class="right">
        <div class="avatar">
          <button nz-button nzType="default" nzSize="large" nzShape="circle" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <span nz-icon nzType="user"></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="Logout()">退出系统</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="sider">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType="dashboard" nzTheme="outline"></span>
          <span><a [routerLink]="['/', 'home', 'console']">控制台</a></span>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span><a [routerLink]="['/', 'home', 'article']">文章管理</a></span>
        </li>
      </ul>
    </div>
    <div class="content-container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
