<div *ngIf="article; else loadingTemplate">
  <h1>{{ article.title }}</h1>
  <nz-descriptions>
    <nz-descriptions-item nzTitle="创建于">{{
      article.createTime | date: "yyyy-MM-dd HH:mm"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="修改于">{{
      article.modifyTime | date: "yyyy-MM-dd HH:mm"
    }}</nz-descriptions-item>
  </nz-descriptions>
  <div
    class="article-content"
    [innerHTML]="article.content | marked | nzSanitizer: 'html'"
  ></div>
</div>

<ng-template #loadingTemplate
  ><div class="loading">
    <ng-template #indicatorTemplate
      ><i nz-icon nzType="loading"></i
    ></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
  </div>
</ng-template>
