<div class="container">
  <nz-page-header class="page-header" nzBackIcon="arrow-left">
    <nz-page-header-title>文章{{mode}}</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="primary"
                [disabled]="loading"
                (click)="saveArticle()">
          <span nz-icon
                [nzType]="loading ? 'loading' : 'save' "></span>
          保存
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <ng-template #emptyTpl>
    <div class="empty">
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    </div>
  </ng-template>
  <div class="edit-area" *ngIf="true else emptyTpl">
    <nz-space nzDirection="vertical">
      <ng-container *nzSpaceItem>
        <input type="text" nz-input nzSize="large"
               placeholder="文章标题，不要超过60个字"
               [(ngModel)]="title" />
      </ng-container>
      <ng-container *nzSpaceItem>
        <nz-input-group>
          <nz-textarea-count [nzMaxCharacterCount]="200">
                  <textarea nz-input nzSize="large"
                            placeholder="文章概要，不超过200字"
                            [(ngModel)]="summary"
                            [nzAutosize]="{ minRows: 2, maxRows: 4}"></textarea>
          </nz-textarea-count>
        </nz-input-group>
      </ng-container>
      <ng-container *nzSpaceItem>
        <nz-input-group>
          <nz-textarea-count>
                  <textarea nz-input nzSize="large"
                            placeholder="文章内容"
                            [(ngModel)]="content"
                            [nzAutosize]="{ minRows: 6, maxRows: 10 }"></textarea>
          </nz-textarea-count>
        </nz-input-group>
      </ng-container>
    </nz-space>
  </div>

</div>
