<div class="container">
  <nz-page-header class="page-header" nzBackIcon="arrow-left">
    <nz-page-header-title>文章{{mode}}</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button (click)="saveArticle()" *nzSpaceItem [disabled]="loading"
                nz-button
                nzType="primary">
          <span [nzType]="loading ? 'loading' : 'save' "
                nz-icon></span>
          保存
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <ng-template #emptyTpl>
    <div class="empty">
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    </div>
  </ng-template>
  <div *ngIf="true else emptyTpl" class="edit-area">
    <nz-space nzDirection="vertical">
      <ng-container *nzSpaceItem>
        <input [(ngModel)]="title" nz-input nzSize="large"
               placeholder="文章标题，不要超过60个字"
               type="text" />
      </ng-container>
      <ng-container *nzSpaceItem>
        <nz-input-group>
          <nz-textarea-count [nzMaxCharacterCount]="200">
                  <textarea [(ngModel)]="summary" [nzAutosize]="{ minRows: 2, maxRows: 4}"
                            nz-input
                            nzSize="large"
                            placeholder="文章概要，不超过200字"></textarea>
          </nz-textarea-count>
        </nz-input-group>
      </ng-container>
      <ng-container *nzSpaceItem>
        <nz-input-group>
          <nz-textarea-count>
                  <textarea [(ngModel)]="content" [nzAutosize]="{ minRows: 6, maxRows: 10 }"
                            nz-input
                            nzSize="large"
                            placeholder="文章内容"></textarea>
          </nz-textarea-count>
        </nz-input-group>
      </ng-container>
    </nz-space>
  </div>

</div>
