<div class="bg">
  <div class="main">
    <div class="header"></div>
    <div class="container">
      <div class="content">
        <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
          <div style="height: 64px; color: gray; width: 100%; margin: 12px 24px;" >
            <a [href]="'#'+i" [id]="i" style="font-size: 24px">{{i}}</a>
          </div>
        </ng-container>
      </div>
      <div class="footer">
        <a href="https://beian.miit.gov.cn/" class="m-auto">{{beian}}</a>
      </div>
    </div>
  </div>
</div>
