<ng-template #emptyArticleTpl>

</ng-template>
<div *ngIf="article !== undefined else emptyArticleTpl" class="article">
  <div class="title">{{ article.title }}</div>
  <div class="info">
    <nz-descriptions>
      <nz-descriptions-item
        nzTitle="发布于">
        {{ article.creationTime | date : "yyyy年MM月dd日" }}
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="article.modifiedTime !== null"
                            nzTitle="上一次修改">
        {{ article.modifiedTime | date : "yyyy年MM月dd日" }}
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
  <div *ngIf="article.summary?.length || 0 > 0" class="summary">
    {{article.summary}}
  </div>
  <div class="content">
    <app-markdown [text]="article.content || ''"></app-markdown>
  </div>
</div>
