@page "/Article/{Id:long}"
@using Lentinula.Core.Aggregates.Articles.Dto
@using Lentinula.Blazor.HttpClients
@inject ArticleApiClient ArticleApiClient
@inject IJSRuntime Js

<div>
    <button id="btn1" >文章一</button>
    <button id="btn2" >文章二</button>
    <button id="btn3" >文章三</button>
    <button id="btn4" >文章四</button>
    <button id="btn5" >文章五</button>
</div>

@if (article is {})
{
    <div class="text-4xl" >@article.Title</div>
    <div id="article">
        
    </div>
}
else
{
    <div class="mt-4 text-2xl text-center text-danger" >找不到指定的文章，稍后跳转回首页</div>
}

@code {

    [Parameter]
    public long Id { get; set; }

    private ArticleDto? article;

    protected override async Task OnInitializedAsync()
    {
        article = await ArticleApiClient.GetArticleAsync(Id);

        if (article == null)
        {
            await Task.Run(async () =>
            {
                await Task.Delay(3000);
                Navigation.NavigateTo("/");
            });
        }

        var module = await Js.InvokeAsync<IJSObjectReference>("import", "./js/article.js");
        await module.InvokeVoidAsync("readFile");
    }

}
