@page "/"
@using Lentinula.Core.Aggregates.Articles.Dto
@using Lentinula.Blazor.HttpClients
@inject ArticleApiClient ArticleApiClient

<div class="px-6" >
    @if (articles != null && articles.Count > 0)
    {
        @foreach (var article in articles)
        {
            <div>@article.Title</div>
        }
    }
</div>

@code {

    private List<ArticleInfoDto>? articles;

    private uint pageIndex = 1;
    private uint pageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        articles = await ArticleApiClient.GetArticlesAsync(pageIndex, pageSize);
    }

}
