<div class="container">
  <nz-page-header class="page-header" nzBackIcon="arrow-left">
    <nz-page-header-title>回收站</nz-page-header-title>
  </nz-page-header>
  <ng-template #emptyTpl>
    <div class="empty" *ngIf="articles.length === 0">
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    </div>
  </ng-template>
  <div class="table">
    <nz-table
      #basicTable
      [nzData]="articles"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzNoResult]="emptyTpl"
      nzHideOnSinglePage="true"
      nzSimple
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th>文章</th>
        <th nzWidth="200px">创建时间</th>
        <th nzWidth="200px">删除</th>
        <th nzWidth="200px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzEllipsis>
          {{ data.title }}
        </td>
        <td>
          {{ data.creationTime | date:'yyyy年MM月dd日 HH时mm分' }}
        </td>
        <td>
          {{ data.deletedTime | date:'yyyy年MM月dd日 HH时mm分' }}
        </td>
        <td>
          <nz-button-group>
            <button nz-button nzType="default"
                    nz-popconfirm
                    nzPopconfirmPlacement="topRight"
                    nzPopconfirmTitle="确认恢复文章？"
                    [nzPopconfirmShowArrow]="false"
                    (nzOnConfirm)="restore([data.id])">
              <span nz-icon nzType="undo" nzTheme="outline"></span>
              <span>恢复</span>
            </button>
              <button nz-button nzType="default" nzDanger
                      nz-popconfirm
                      nzPopconfirmPlacement="topRight"
                      nzPopconfirmTitle="确认删除？彻底删除后无法恢复文章！"
                      [nzPopconfirmShowArrow]="false"
                      (nzOnConfirm)="delete([data.id])">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              <span>删除</span>
            </button>
          </nz-button-group>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
