
nz-space {
  width: 100%;
}

.article-item {
  width: 100%;
  padding: 20px;

  border-radius: 8px;
}

.article-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article-info {
  user-select: none;
}
