<div class="article-list" *ngIf="articles.length > 0; else empty">
  <nz-space nzDirection="vertical">
    <ng-template nzSpaceItem *ngFor="let article of articles">
      <div class="article-item" (click)="navigateToArticle(article)">
        <h1>{{ article.title }}</h1>
        <div class="article-info">
          <span>
            编辑于：{{ article.modifyTime | date: "yyyy-MM-dd HH:mm" }}
          </span>
        </div>
      </div>
    </ng-template>
  </nz-space>
</div>
<ng-template #empty>
  <nz-empty
    nzNotFoundImage="simple"
    [nzNotFoundContent]="emptyContent"
  ></nz-empty>
  <ng-template #emptyContent>
    <span>暂无文章</span>
  </ng-template>
</ng-template>
