<div class="header">
  <h1>{{ isEdit ? "编辑文章" : "新建文章" }}</h1>
  <div class="toolbar">
    <nz-space>
      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        nzSize="large"
        (click)="onSubmit()"
      >
        保存
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        nzSize="large"
        nzDanger
        (click)="onCancel()"
      >
        取消
      </button>
    </nz-space>
  </div>
</div>

<ng-container *ngIf="isEdit">
  <nz-descriptions nzTitle="文章信息">
    <nz-descriptions-item nzTitle="创建时间">{{
      article.createTime | date: "yyyy-MM-dd hh:mm"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="修改时间">{{
      article.modifyTime | date: "yyyy-MM-dd hh:mm"
    }}</nz-descriptions-item>
  </nz-descriptions>
</ng-container>

<form nz-form>
  <nz-form-item>
    <nz-form-label nzFor="title">标题</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="article.title"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="content">文章</nz-form-label>
    <nz-form-control>
      <div id="vditor" name="content"></div>
    </nz-form-control>
  </nz-form-item>
</form>
